

<h1 style="text-align:center">About Us</h1>

            <p>
              <h4><i class="fas fa-info-circle"></i> Brief Introduction</h4>
              TrendMe is a online clothing brand. Following Indian tradition, we decided to create a clothing brand which supplies Indian traditional clothes. Find varieties of Indian traditional clothes and get delivered at your doorstep. We have latest collection of all types of traditional clothes. To elaborate our business we will be western clothes in near future. Following the slogan "Made in India", we are importing our all products from India. As it is very hard to find latest collection of clothes, we have decided to start a new business due to which our community can easily find cultural clothes in this foreign country. We will be also delivering in USA in nearby future.</br>
            </br>
                <h4><i class="fas fa-phone-square-alt"></i> Contact Details:</h4>
                <p><i class="fab fa-facebook"></i><a href="https://m.facebook.com/TrendMe-106141811280356/?ref=bookmarks"> https://m.facebook.com/TrendMe-106141811280356/?ref=bookmarks</a></p>
                <p><i class="fab fa-instagram-square"></i> <a href="https://www.instagram.com/invites/contact/?i=9c3oywx92e9u&utm_content=kfgxtf7"> https://www.instagram.com/invites/contact/?i=9c3oywx92e9u&utm_content=kfgxtf7</a></p>
                <p><i class="fab fa-whatsapp-square"></i> +1 647-804-3122</p>
                <p><i class="fas fa-phone-alt"></i> +1 647-804-3122</p>

                <p><i class="fas fa-briefcase"></i> Clothing Company</p>
              
          </br>
          <h4><i class="fas fa-location-arrow"></i> Our Location:</h4>
          <p>3050 Ellesmere Rd, Scarborough, ON M1E 5E6</p>
          <div style="overflow:hidden;max-width:100%;width:680px;height:300px;">
            <div id="mymap-display" style="height:100%; width:100%;max-width:100%;">
              <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=3050+Ellesmere+Rd,+Scarborough,+ON+M1E+5E6&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8">
              </iframe></div><a class="googlemaps-html" href="https://sucks.hosting" id="authorizemaps-data">Hosting Sucks</a>
              <style>#mymap-display img.text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style></div>

              </p> 
