<!--File name: bottom_nav.ejs , Student’s Name: Ramandeep, StudentID: 301095150, and Date: 9-10-2020-->
<footer>
  
    <nav class="navbar fixed-bottom navbar-dark bg-primary">
      <h6 class="display-5 navbar-text">&copy; Copyright 2020 All Rights reserved.</h6>
    </nav>
    </footer>