<!--File name: footer.ejs , Student’s Name: Ramandeep, StudentID: 301095150, and Date: 9-10-2020-->

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/app.js"></script>

</body>
</html>