

<h1 class="display-4">Welcome to Trend Me!</h1>
      </br>
    </br>
    <div class="container">
      <div class="card-deck">
    <div class="card">
      <img src="/Assests/images/product1.png" alt="John"  width="520" height="580" >
      <div class="card-body">
        <p class="card-text"> <h1>Pattern: Kurti With Heavy Work Dupatta</h1>
          <p class="price">$84.99</p>
          <p>Fabrics: Kurti Fabric-Rayon</p>
          <p>Dupatta Fabric: Sluby</p>
          <p>More Details: Fancy All Over Chain Stitch Embroidered Work With Fancy Lace</p>
          <p>Availabel In Large, Xl and XXL size</p>
          <p>Code 11141</p>
          <p><button>Delete</button></p>
          <p><button>Update</button></p></p>
      </div>
    </div>
    <div class="card">
      <img src="/Assests/images/product2.png" alt="John"  width="520" height="580">
      <div class="card-body">
        <p class="card-text"><h1>Pattern: Crop Top With Sharara Pant</h1>
          <p class="price">$64.99</p>
          <p>Fabrics: Chanderi, Reyon, Cotton Mal</p>
          <p>Dupatta Fabric: No Dupatta</p>
          <p>More Details: Embroidery Work With Crop Top Strug and  Sharara pant</p>
          <p>Availabel In Small, Medium, Large and Extra Large size</p>
          <p>Code 11129</p>
          <button>Delete</button></p>
          <p><button>Update</button></p></p>
      </div>
    </div>
  </div>
  
<b></b>

  <div class="container">
    <div class="card-deck">
  <div class="card">
    <img src="/Assests/images/product3.png" alt="John" width="520" height="580">
    <div class="card-body">
      <p class="card-text"> <h1>Pattern: Kurti With Heavy Work Dupatta</h1>
        <p class="price">$84.99</p>
        <p>Fabrics: Kurti Fabric-Rayon</p>
        <p>Dupatta Fabric: Sluby</p>
        <p>More Details: Fancy All Over Chain Stitch Embroidered Work With Fancy Lace</p>
        <p>Availabel In Large, Xl and XXL size</p>
        <p>Code 11141</p>
        <p><button>Delete</button></p>
        <p><button>Update</button></p></p>
    </div>
  </div>
  <div class="card">
    <img src="/Assests/images/product4.png" alt="John" width="520" height="580">
    <div class="card-body">
      <p class="card-text"> <h1>Top: Royal Slub Silk</h1>
        <p class="price">$129.99</p>
        <p>Inner: Dull Santoon</p>
        <p>Bottom: Dull Santoon</p>
        <p>Dupatta: Pure Nazmin Butti and Nazmin</p>
        <p>Availabel In Small, Medium and Large size</p>
        <p>Code 11135</p>
        <p><button>Delete</button></p>
        <p><button>Update</button></p></p>
    </div>
  </div>
</div>
   