<!--File name: homepage.ejs , Student’s Name: Ramandeep, StudentID: 301095150, and Date: 9-10-2020-->

<h1 class="display-4">Welcome to Ramandeep's Profile</h1>
      </br>
    </br>
        <h6><i class="fas fa-bullseye"></i> Mission Statement: </h6>
        <p><i>"Seeking a job as an programmer or developer in an IT company in Canada, where i can utilize my existing skill sets to help the company achieve its goal of excellence in the field. Dedicated and detail-oriented developer who thrives in a fast-paced environment."</i></p>