<!--File name: main_nav.ejs , Student’s Name: Ramandeep, StudentID: 301095150, and Date: 9-10-2020-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/"><img src="/Assests/images/logo.png"> Portfolio site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
      <ul class="navbar-nav ml-auto">

        <% if (title == "Home"){ %>
          <li class="nav-item active">
        <%} else { %>
        <li class="nav-item">
        <%} %>
          <a class="nav-link" href="/home"> <i class="fas fa-lg fa-laptop-house"></i> Home</a>
        </li>

        <% if (title == "About"){ %>
          <li class="nav-item active">
        <%} else { %>
        <li class="nav-item">
        <%} %>
          <a class="nav-link" href="/about"> <i class="fas fa-lg fa-address-card"></i> About Me</a>
        </li>

        <% if (title == "Projects"){ %>
          <li class="nav-item active">
        <%} else { %>
        <li class="nav-item">
        <%} %>
          <a class="nav-link" href="/projects"><i class="fas fa-lg fa-project-diagram"></i> Projects</a>
        </li>

        <% if (title == "Services"){ %>
          <li class="nav-item active">
        <%} else { %>
        <li class="nav-item">
        <%} %>
          <a class="nav-link" href="/services"><i class="fas fa-lg fa-cogs"></i> Services</a>
        </li>

        <% if (title == "BusinessContacts"){ %>
          <li class="nav-item active">
        <%} else { %>
        <li class="nav-item">
        <%} %>
          <a class="nav-link" href="/businessContacts"><i class="far fa-lg fa-address-book"></i></i> BusinessContacts</a>
        </li>

        <% if (title == "Contact"){ %>
          <li class="nav-item active">
        <%} else { %>
        <li class="nav-item">
        <%} %>
          <a class="nav-link" href="/contact"><i class="fas fa-lg fa-phone"></i> Contact</a>
        </li>

        <% if(typeof displayName == 'string' && displayName) { %>
          <li class = "nav-item"><a href="/logout" class="nav-link">
            <i class="fas fa-lg fa-sign-out-alt"></i>LogOut</a></li>
           
        <% } else { %>
         <li class="nav-item">
           <a href="/login" class="nav-link">
             <i class="fas fa-lg fa-sign-in-alt"></i>
             Login
           </a>
         </li>
        <% } %>
        

    </div>
  </nav>