
<h1>Add Product </h1>

<div class="file-upload-wrapper">
  <input type="file" id="input-file-now" class="file-upload" />
</div>

<div class="form-group">
  <label for="NameTextField">Description</label>
  <textarea type="text" class="form-control" id="NameTextField"
  placeholder="Enter Product Description" name="Description" required>
  </textarea>
</div>

<button class="btn btn-primary" type="submit">
  <i class="fas fa-edit"></i>Add
</button>
<a href="/businessContacts" class="btn btn-danger"><i class="fas fa-undo"></i>Cancel</a>

</p>  