
<h1>Services</h1>
          <p>
          I offer many services: </br>  
          1). General Pragramming (Java, javaScript, PHP, HTML)</br>
          2). Mobile App developement (Android, IOS)</br>
          3). Web developement (HTML, JavaScript, PHP) </br></p>
        <p>
          <div class="card" style="width: 18rem;">
            <img src="/Assests/images/download.jpg" class="card-img-top" width:"100px">
            <div class="card-body">
              <p class="card-text">1. Java</p>
            </div>
          </div>
         
          <div class="card" style="width: 18rem;">
            <img src="/Assests/images/download-4.png" class="card-img-top">
            <div class="card-body">
              <p class="card-text">2. Java Script</p>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="/Assests/images/download-3.png" class="card-img-top">
            <div class="card-body">
              <p class="card-text">3. PHP</p>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="/Assests/images/images.png" class="card-img-top">
            <div class="card-body">
              <p class="card-text">4. HTML</p>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
          <img src="/Assests/images/download-5.png" class="card-img-top">
          <div class="card-body">
            <p class="card-text">5. Android</p>
          </div>
        </div>
        </p>  