<!--File name: about.ejs , Student’s Name: Ramandeep, StudentID: 301095150, and Date: 9-10-2020-->

<h1 style="text-align:center">About Me</h1>

          <div class="card">
            <img src="/Assests/images/mineimg.png" alt="John" style="width:100%">
            <div class="card-body">
              <p class="card-text">First Name: Ramandeep <br> Last Name: . </p>
            </div>
          </div>
            <p>
              <h4><i class="fas fa-info-circle"></i>Brief Introduction</h4>
              My full name is only Ramandeep. I'm from India (Punjab). I came canada in August 2019. Moreover, My hobbies are: listening to music and reading books. I also like to travel different counties or parts of the world. I have major interest in Java and Android Programming and my aim is to become Java developer or Android Developer. Hope so, i will achieve my dream job in near future.</br>
            </br>
                <h4><i class="fas fa-info-circle"></i>Educational Background:</h4>
                Polytechnical Diploma: Computer Science and Engineering (3 years) in India</br>
                B.tech : Computer Science and Engineering (3 years) in India</br>
                PG certificate: Mobile Application Diploma (1 year) in Canada</br>
                Advance Diploma: Software Engineering Technician (pursuing) in Canada</br>

          </br>
                <h4>My Resume: </h4>
                <a href="https://drive.google.com/file/d/1Lj7W0-obFnSGVjrZ63AWfKwM00iRumm0/view?usp=sharing">Click here to View my resume</p></a>

              </p> 
