<h1>My projects </h1>
<p>
  I have been working of many projects since my first diploma in 2012.</br>
  <li class="list-group-item"><i class="fas fa-lg fa-school"></i>  Student Management System (using php,css, WAMP server)</li>
</br><p>This was my first project and i created a student management system where tecahers can manage all the records of the students such as: assignments marks, test marks, results etc and also fee details of students controlled by other staff and many more things.</p>
<div class="card">
  <img src="/Assests/images/stu.png" alt="John" style="width:100%">
</div></br>

<li class="list-group-item"><i class="fas fa-lg fa-tasks"></i>  Online Attendance App (Android, MySQL databse)</li>
</br><p>In this app, teachers can take attendance of students and students can also view their attendance. Meanwhile, they can also create their profile and view it, change it. The attendance can be show in graph and as well as in percentages and per month how amny classes etc. </p>
<div class="card">
  <img src="/Assests/images/atten.png" alt="John" style="width:100%">
</div> </br>

<li class="list-group-item"><i class="fas fa-lg fa-route"></i>  Travel Taker (Android, Firebase database)</li>
</br><p>In this app, a user can search about places by entering the name of the place, and a user can get more details about the place, about the popularity and many more thing. A user can also view tweets of other on that location, so that a person can get feedback from others.</p>  
<div class="card">
<img src="/Assests/images/travel.png" alt="John" style="width:100%">
</div>   
</p>  